{
  "extends": [
    "eslint:recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "env": {
    "es2020": true,
    "webextensions": true
  },
  "globals": {
    "console": "readonly"
  }
}